.product-desc {
	text-align: left;
}

.product-img {
	width: 100%;
}

.product-item {
	display: inline;
	float: left;
	width: 30vw;
	height: 40vh;
}

.products {
	padding-left: 5%
}

.product-item p {
	text-align: center;
}

.products {
	padding-left: 5%;
}

.vertical-line {
	border-right: 1px black solid;
	width: 1px;
	height: 100vh;
	display: inline-block;
	float: left;
}


.product-view {
	/*padding-top: 5%;*/
	height: 100vh;
	margin: 0px;
}

.product-view h1 {
	text-align: center;
	padding-top: 0px;
}

.product-view p {
	padding-top: 5%;
}

.product-view-image {
  width: 100%
}
  
.login-container {
	margin-top: 10vh;
	padding-left: 10vw;
}

.login-container login-inputs {
	text-align: center;
	margin-top: 2%;
}

.login-container login-button {
	text-align: center;
	margin-top: 12%;
}

.login-container * {
	text-align: center;
	margin-top: 2%;
}

.logout-container {
	text-align: center;
	vertical-align: center;
	margin-top: 10vh;
}

.goodbye-container {
	margin-top: 10vh;
	padding-left: 5vw;
}

.goodbye-tom {
	width: 100%;
}

.navbar {
	overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index:1; /*z-index ensures images go under the navbar upon scrolling */
}

.underNav {
    margin-top: 65px; /* Add a top margin to avoid content overlay */
}

